<!-- Services section -->
<section class="services" id="services">

    <h1 class="heading">Fea<span>tures</span></h1>

    <div class="box-container">

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-briefcase"></i>
                <h3>Notes Management</h3>
            </div>

            <div class="service-content-description">
                <p>
                    Our note-taking app offers seamless organization for your notes, ensuring you never lose track of your ideas again. 🔥
                </p>
                <a href="/notesmanage" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>

        </div>

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-envelope"></i>
                <h3>Rough Notes</h3>
            </div>

            <div class="service-content-description">
                <p>Transform handwritten or rough notes into digital format effortlessly. Capture image using camera and store alongside written notes. 👍</p>
                <a href="/manage" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>
        </div>

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-search"></i>
                <h3>Notes List</h3>
            </div>

            <div class="service-content-description">
                <p>User will be able to subject wise divide notes into different section and manage them more effectively❤️</p>
                <a href="/list" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>
        </div>

    </div>
</section>

<!-- ****** Services Section Ends ******* -->